<div>Choose the item and type</div>

<div class="form-group">
  <label>Select Types:</label>
  <select class="form-control" [(ngModel)]="itemTypeSelect" (change)="itemTypeOnChange()">
    <option></option>
    <option *ngFor="let itemType of itemTypes">{{itemType.name}}</option>
  </select>
  <div *ngFor="let itemProperty of itemProperties">
    <label>Select Properties: {{itemProperty.name}}</label>
    <select *ngIf="isItemProperties" class="form-control" #changed (change)="itemPropertiesOnChange(itemProperty.name,changed.value)">
      <option></option>
      <option *ngFor="let property of itemProperty.properties">{{property}}</option>
    </select>
  </div>
</div>
<button class="btn btn-primary" (click)="closeForm(1)">Add</button>
<button class="btn btn-primary" (click)="closeForm(2)">Close</button>

