<div *ngIf="tokenIsOk">
  <form [formGroup]="form" (ngSubmit)="setNewPassword()">
    <h1>Please enter new password:</h1>
    <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">password</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Введите пароль"
      formControlName="password"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password')['errors']['required']">Password cant be empty. </span>
      <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
        Password must be more then
        {{ form.get('password')['errors']['minlength']['requiredLength'] }}
        symbols. Now {{ form.get('password')['errors']['minlength']['actualLength'] }}.
      </span>
    </span>
  </div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</div>

<div *ngIf="!tokenIsOk">
  <p>Token is not valid</p>
</div>

