<div class="container" (click)="closeAllDialog()">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <div class="types" *ngFor="let address of addresses; let i = index">
      <label [ngClass]="getColor(i)"><input type="radio" name="toggle" (change)="onAddressChange(i)">
        <span>{{address.street}}, {{address.city}}</span></label>
    </div>
  </div>
</div>
<div class="container" (click)="closeAllDialog()">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <div class="types" *ngFor="let appartment of roomType; let i = index" (change)="onRoomTypeChange(i)">
      <label><input type="radio" name="appartment">
        <span>{{appartment}}</span></label>
    </div>
  </div>
</div>
<div class="container" (click)="closeAllDialog()">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <div *ngIf="addressesCurrentIndex===0">
      <div *ngFor="let item of items; let i = index" >
        <button  mat-button [matMenuTriggerFor]="menu" type="button" class="btn" [style.background-color]=color[currentColor]>
          <span>{{item.name}}</span>

          <span *ngFor="let property of item.property"> {{property}}</span>
        </button>
        <mat-menu #menu="matMenu" yPosition="above">
          <button mat-menu-item *ngFor="let address of addresses; let i = index" (click)="addMover(address, item, i)">{{address.street}}
          </button>
        </mat-menu>
      </div>
    </div>
    <div *ngIf="addressesCurrentIndex>0">
      <div *ngFor="let item of tempItems; let i = index">
        <button mat-button [matMenuTriggerFor]="menu" type="button" class="btn"  >
          <span> {{item.name}}</span>

          <span *ngFor="let property of item.property">{{property}}</span>
        </button>

        <mat-menu #menu="matMenu" yPosition="above">
          <button mat-menu-item *ngFor="let address of addresses" (click)="addMover(address, item)">{{address.street}}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <button mat-raised-button (click)="openDialog()" [disabled]=" !canAddItem()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>
<div class="row" class="col-sm-8 col-sm-offset-2" (click)="closeAllDialog()">
  <h1></h1>
</div>
<div class="container">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <button type="button" class="btn btn-primary" (click)="openRoomDialog()" [disabled]="!isSelectedAddres()">
      Add Room
    </button>
  </div>
  <button> Finish </button>
</div>
