<div class="container" (click)="closeAllDialog()">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <div class="types" *ngFor="let address of addresses; let i = index">
      <label [ngClass]="getColor(i)"><input type="radio" name="toggle" (change)="onAddressChange(i)">
        <span>{{address.street}}, {{address.city}}</span></label>
    </div>
  </div>
</div>
<div class="container" (click)="closeAllDialog()">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <div class="types" *ngFor="let item of itemsTo; let i = index">
      <button [disabled]="true" [ngClass]="getColorTo()">
        <span>{{item.name}}</span>
        <span *ngFor="let property of item.property"> {{property}}</span>
      </button>
    </div>
  </div>
</div>

<div class="container" (click)="closeAllDialog()">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <div class="types" *ngFor="let appartment of roomType; let i = index" (change)="onRoomTypeChange(i)">
      <label><input type="radio" name="appartment">
        <span>{{appartment}}</span></label>
    </div>
  </div>
</div>
<div class="container" (click)="closeAllDialog()">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <div *ngIf="addressesCurrentIndex >= 0 && addressesCurrentIndex < addresses.length-1">
      <div class="types" *ngFor="let item of items; let i = index">
        <button mat-button [matMenuTriggerFor]="rootMenu" type="button" class="btn"
                [ngClass]="getColorFrom(i)">
          <span>{{item.name}}</span>
          <span *ngFor="let property of item.property"> {{property}}</span>
        </button>
        <mat-menu #rootMenu="matMenu">
          <button mat-menu-item (click)="deleteItem(i)">Delete Item</button>
          <button mat-menu-item [matMenuTriggerFor]="menu" >Change Destination</button>
        </mat-menu>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item *ngFor="let address of addresses; let y = index" (click)="changeAddressTo(i, y)">
            {{address.street}}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <button mat-raised-button (click)="openItemDialog()" [disabled]=" !canAddItem()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>
<div class="row" class="col-sm-8 col-sm-offset-2" (click)="closeAllDialog()">
  <h1></h1>
</div>
<div class="container">
  <div class="row" class="col-sm-8 col-sm-offset-2">
    <button type="button" class="btn btn-primary" (click)="openRoomDialog()" [disabled]="!isSelectedAddress()">
      Add Room
    </button>
  </div>
  <button type="button" class="btn btn-primary" (click)="finishAddItem()" [disabled]="!isFinish()">Calculate</button>
</div>

