<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <div> Area of Trucks
        <select (change)="selectedToArea($event)">
          <option *ngFor="let areaAnswer of areaAnswers"
                  [value]="areaAnswer">
            {{areaAnswer}}
          </option>
        </select>

        <div>
          Drivers ID: <input type="text" [(ngModel)]="trucks.driver_id">
        </div>
        <div> Rooms Can Take
          <select (change)="selectedToRoom($event)">
            <option *ngFor="let roomAnswer of roomsAnswers"
                    [value]="roomAnswer">
              {{roomAnswer}}
            </option>
          </select>
        </div>
        <div> Moves by Day
          <select (change)="selectedToMoves($event)">
            <option *ngFor="let movesDayAnswer of movesDayAnswers"
                    [value]="movesDayAnswer">
              {{movesDayAnswer}}
            </option>
          </select>
        </div>
        <div>
          Truck Type: <input type="text" [(ngModel)]="trucks.truckType">
        </div>
      </div>
    </div>
    <div class="modal-body">
      <p>{{message || 'Are you sure?'}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
