<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <div  >  Area of Trucks
        <select>
          <option>ALL COUNTRY</option>
          <option>NORTH</option>
          <option>SOUTH</option>
          <option>CENTER</option>
        </select>

        <div>
          Drivers ID: <input type="text" [(ngModel)]="trucks.driver_id">
        </div>
        <div>
          Count of Rooms: <input type="text" [(ngModel)]="trucks.roomsCount">
        </div>
        <div>
          Move by Day: <input type="text" [(ngModel)]="trucks.movesDay">
        </div>
        <div>
          Truck Type: <input type="text" [(ngModel)]="trucks.truckType">
        </div>
      </div>
    </div>
    <div class="modal-body">
      <p>{{message || 'Are you sure?'}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
