<div> Recent request</div>

<div *ngFor="let i of requests; let j = index">
  <button class="box" (click)="onClick(j)">
    <div> Date : {{i.movedatetime}}</div>
    <div class="address"> From: {{i.from.street + ", " + i.from.building+"/ " + i.from.city}}</div>
    <div class="address"> To : {{i.from.street + ", " + i.from.building+"/ " + i.from.city}}</div>
    <div id="cost"> $ {{i.cost}}</div>
  </button>
</div>


<!--<div>-->
  <!--<button class="btn btn-primary" [routerLink]="'/address'">MOVE</button>-->
  <!--<button class="btn btn-primary">DELIVERY</button>-->
<!--</div>-->


