input[type="number"] {
  width: 30%;
}

button {
  background-color: dodgerblue;
  padding: 2vmin 5vmin;
}

.centered {
  text-align: center;
}

.box {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  margin: 4px;
  text-align: left;
  padding: 4px;
  width: 85vw;
  font-size: 12px;

}

#cost {
  position: absolute;
  left:65vw;
  top:20px;
  font-weight: 100;
  font-size: 15px;
  margin: 0;
  padding: 0;
}


.address{
  width: 75%;
}
